/******************************************************

            GENERAL

*******************************************************/


.admin-section {
  margin: 24px 48px;
  padding: 12px;
}

.admin-heading {
  margin-bottom: 24px;
}

.admin-heading > div {
  /* opacity: 0.8; */
  width: max-content;
}

#admin-content-source {
  max-width: 360px;
}



/******************************************************

            ADDING NEW CONTENT

*******************************************************/



.dropzone-contain {
  display: flex;
  flex-direction: column;
  border: 2px dashed var(--sub-color);
  padding: 48px;
  cursor: pointer;

  min-height: 252px;

}

.dropzone-title, .dropzone-title * {
  margin: auto;
  color: var(--text-color);
  text-align: center;

}

.dropzone-contain:hover > .dropzone-title * {
  color: var(--main-color);
}

/* .dropzone-contain:hover > .dropzone-files {
  border-color: var(--main-color);
} */

.dropzone-files {
  border-top: 2px dashed var(--sub-color);
  margin-top: 12px;
  padding-top: 12px;
}

.dropzone-files.empty {
  display: none;
}

progress {
  width: calc(100% - 24px);
}

progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  border: none;
}

progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value, progress[value]::-moz-progress-bar {
  transition: width 1s ease;
  background-color: var(--sub-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value].saved::-webkit-progress-value, progress[value].saved::-moz-progress-bar {
  background-color: var(--main-color);
}

#admin-content-add {
  display: flex;
}

.author-meta {
  margin: auto 48px;
  height: 100%;

  display: flex;
}

.author-meta-empty {
  display: flex;
  flex-direction: column;
}

.author-meta-empty * {
  margin: auto;
}

.author-meta-empty > div:first-child {
  margin-bottom: 0;
}

.author-meta-empty > div:last-child {
  margin-top: 0;
}

.author-meta-single {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  max-height: 248px;
}

.author-meta-single > div:first-child > p {
  opacity: 0.8;
}

.author-meta-single > div:first-child {
  margin: 0 48px 24px 0;
}

.meta-input-container {
  margin: 8px 0;
  padding-right: 48px;
}

.meta-input-container > input {
  width: 224px;
  border: none;
  padding-bottom: 4px;
  box-sizing: border-box;
  border-bottom: 4px solid var(--main-color);
}

.meta-input-container > input:focus {
  outline: none;
  border-color: var(--sub-color);
}

input:focus + span::after {
  content: '<';
  position: fixed;
  font-weight: bold;
}

.dropzone-files svg {
  vertical-align: middle;
}

#media-title-suggest-container {
  opacity: 0;

  display: flex;
  flex-direction: column;

  position: fixed;

  margin-top: 12px;
  padding: 12px;
  border: 1px dashed var(--text-color);

  transition: .3s ease;
}

#media-title-input:focus ~ #media-title-suggest-container {
  opacity: 1
}

#media-title-suggest-container:focus-within, #media-title-suggest-container *:focus-within {
  background-color: khaki;
}

.media-suggestion {
  /* margin: 1px 0; */
  cursor: pointer;
}


/******************************************************

            USER LISTING/EDITING

*******************************************************/


.admin-userlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.admin-userlist-user {
  display: flex;
  flex-direction: column;
  
  border: 4px solid var(--sub-color);
  border-radius: 24px;

  padding: 8px 32px;
  margin-right: 12px;

  cursor: pointer;
}

.admin-userlist-user:hover {
  border-right-width: 48px;
}

.admin-userlist-user > div {
  display: flex;
  flex-direction: row;
}

.admin-userlist-user-id {
  margin-left: 24px;
}

.admin-userlist-user-id.modal-form {
  margin: auto;
}

.admin-userlist-user-id:before {
  content: "ID";
  font-size: .8em;
  color: var(--sub-color);
  margin-right: 4px;
}

.admin-userlist-user-controls-edit > * {
  cursor: pointer;
}

.admin-userlist-user-controls-edit:hover * {
  color: var(--sub-color);
}

.modal-contain * {
  text-align: left;
}

.user-edit-contain {
  min-width: 384px;
}

.user-edit-contain .user-edit-title {
  color: var(--main-color);
  margin-right: 12px;
  font-weight: bold;
}

.user-edit-email-id {
  display: flex;
}

.user-edit-permissions {
  margin: 24px auto;
}

.user-edit-permissions > div {
  margin: 12px auto;
}

.user-edit-permissions > div > h4 {
  color: var(--sub-color);
  font-weight: bold;
  border-bottom: 1px solid var(--main-color);
}

.user-edit-permissions-meta-list td:first-child {
  padding-right: 24px;
}

.user-edit-permissions-media-list td {
  padding-right: 12px;
}

.revoke-icon-cell {
  text-align: right;
  padding-right: 0 !important;
  cursor: pointer;
}

.revoke-icon-cell:hover svg * {
  color: var(--main-color) !important;
}

.user-edit-permissions-media-list .icon-tabler {
  width: 1em;
  height: 1em;
}



/******************************************************

            COLLECTION LISTING

*******************************************************/


.admin-collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.admin-collection-list-item {
  display: flex;
  flex-direction: column;
  
  border: 4px solid var(--sub-color);
  border-radius: 24px;

  padding: 12px 32px;
  margin: 12px 12px 0 0;

  cursor: pointer;
}

.admin-collection-list-item:hover {
  border-right-width: 48px;
}

.admin-collection-list-item-title {
  font-weight: bold;
}

.admin-collection-list-item-iterable > span {
  margin-left: 6px;
}

.admin-collection-list-item-iterable > span:before {
  content: "ID";
  font-size: .8em;
  color: var(--sub-color);
  margin-right: 4px;
}

/* Comma separate list, except the last item, with no comma. */
.admin-collection-list-item-iterable > span:after {
  content: ",";
}

.admin-collection-list-item-iterable > span:last-child:after {
  content: "";
}

.collection-edit h3 > span {
  font-weight: bold;
  border-bottom: 2px solid var(--sub-color);
  margin-bottom: 24px;
}

.collection-edit h4 {
  color: var(--sub-color);
  font-weight: bold;
  border-bottom: 1px solid var(--main-color);
}

.collection-edit-meat {
  margin: 24px auto;
  min-width: 360px;
}

.collection-edit-meat > div {
  margin: 24px auto;
}

/* sub: lookup windows */

.collection-edit h4 > span {
  float: right;
  cursor: pointer;
}

.lookup-list {
  margin: 24px auto;
}

.lookup-list-title {
  color: var(--sub-color);
  font-weight: bold;
  border-bottom: 1px solid var(--main-color);
}

.lookup-list-filter {
  margin: 12px 12px 12px auto;
}

.lookup-list-filter > input {
  width: 224px;
  border: none;
  padding-bottom: 4px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--main-color);
}

.lookup-list-filter > input:focus {
  outline: none;
  border-color: var(--sub-color);
}

.tentative {
  color: var(--sub-color);  
}

@media screen and (max-width: 1140px) {
  .admin-collection-list {
    grid-template-columns: repeat(2, 1fr);
  }
}