#toast-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    right: 0;

    /* width: 100%; */
    margin: 24px;

    z-index: 100;
    background: none;
}

.toast-item {
    margin: 8px auto;
    padding: 6px 36px;

    user-select: none;

    animation: toast-in .1s ease;
}

@keyframes toast-in {
    0% {
        transform: translateY(-24px);
    }

    100% {
        transform: none;
    }
}

.toast-level-good {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.toast-level-warning {
    background-color: var(--bg-color);
    color: var(--error-color);
}

.toast-level-error {
    background-color: var(--bg-color);
    color: var(--error-extra-color);

    font-weight: bold;
}