:root {
  --bg-color: #242933;
  --main-color: #ec4c56;
  --caret-color: #ec4c56;
  --sub-color: #596172;
  --text-color: #f6f0e9;
  --error-color: #ec4c56;
  --error-extra-color: #9b333a;
  --colorful-error-color: #ecdc4c;
  --colorful-error-extra-color: #bdb03d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}